<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788022801951-bce2jrtcc5h7onlmvmqk663sqths3qor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788022801951-bce2jrtcc5h7onlmvmqk663sqths3qor</string>
	<key>API_KEY</key>
	<string>AIzaSyDEOOSP8w7wPdw5dDISIJcvw1wQGz9ksOY</string>
	<key>GCM_SENDER_ID</key>
	<string>788022801951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AWM.AWMTest01.widget</string>
	<key>PROJECT_ID</key>
	<string>awm-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>awm-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788022801951:ios:34f118de134a9ab333c72a</string>
	<key>DATABASE_URL</key>
	<string>https://awm-ios.firebaseio.com</string>
</dict>
</plist>